<div class="row">
  <div class=" col-md-12">
    <img src="{{selectedRecipe?.imgpath}}" class="img-responsive" width="300" height="300"/>
  </div>
</div>
<div class="row">
  <div class=" col-md-12">
    <h4>{{selectedRecipe?.name}}</h4>
  </div>
</div>
<div class="row">
  <div class=" col-md-12">
    <p>{{selectedRecipe?.descrption}}</p>
  </div>
</div>
<div class="row">
    <div class=" col-md-12">
      <button class="btn btn-success">Shopping</button>
      <button class="btn btn-warning">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>